In [ ]:
# !pip install pandas

In [ ]:
from pandas import read_csv

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("Uber Drives 2016.csv")

# Read_csv considers everything as a string or what they are saved in, we can pass parameters to consider some columns as specific objects (convert data types), example considering 2nd and 3rd columns as date and time object, and so on according to our requirements.

In [8]:
df.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

In [10]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

# Columns are known as series here.

In [ ]:
df.head()
#gives first 5 elements
df.head( n = 10)

In [ ]:
df.shape

In [ ]:
df.tail()

# Changing Datatypes

In [ ]:
temp = pd.DataFrame({"A":["1","2","3"],
                     "B":[11,12,13],
                     "C":["12-06-2012", "13-06-2015", "15-06-2017"]})

In [ ]:
temp

In [ ]:
temp.dtypes

In [ ]:
pd.to_datetime(["2016-11-02","2002-01-31"])

In [ ]:
temp["C"] = pd.to_datetime(temp["C"])

In [ ]:
temp.dtypes

In [ ]:
temp["A"] = pd.to_numeric(temp["A"])

In [ ]:
temp.dtypes

In [ ]:
pd.to_datetime(["2026-sep-11", "abc"], errors = "coerce")
# errors = "coerce" to filter out those ones which are not valid dates or vague ones.

In [ ]:
#Making change to the original dataframe we loaded from csv
pd.to_datetime(df["START_DATE*"], format = '%m/%d/%Y %H:%M' , errors = "coerce")

#errors = "coerce" because the last column has a string named total.

# Dataset Summarization Methods

In [ ]:
df.describe(include = "all")

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
#Count of unique start locations
df["START*"].value_counts()

In [ ]:
#we can get top5 counts too
df["START*"].value_counts().head()

# Data manipulation tasks

5 verbs of data manipulation

1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/ Conditionally adding columns
5. Groupby/Summarize

# Selecting/Indexing

iloc means accessing the row or a column by a number, is an outdated one. loc is used generally now.

In [ ]:
df.iloc[0:5 ,0:4]

# we can tell which, which columns or rows we want. Iloc is called positional indexing

In [ ]:
df.iloc[ [0,1,4,5] , [2,3,4] ]

In [ ]:
df.iloc[ : -1 , :  ]
#There is no last row " : -1 " means total rows minus last one

In [ ]:
df.iloc [ : , : -1 ]
#There will be no last column

# Loc is called Label based indexing.

In [ ]:
df.loc[ :, ["START*", "STOP*"] ]

# can also be directly accessed

In [ ]:
df [[ "START*" , "STOP*" ]]

In [ ]:
abc = df.loc[:, "START*"]
abc

In [ ]:
type(abc)

So we see if we acquire a single column using loc, it gives an output of series datatype. We dont want that while manipulating a dataframe during work. Instead we can do:

In [ ]:
df.loc[: , ["START*"] ]

### In Class assignment

Extract first 5 rows and columns START_DATE* and MILES*

In [ ]:
df.loc[ :4, ["START_DATE*","MILES*"] ]

In [ ]:
df.loc[ :, ["START_DATE*","MILES*"] ]. head()

# Filtering

Accessing without using loc or iloc, but we can select specific rows only, not columns

In [ ]:
df[df["MILES*"] > 10]

In [ ]:
df.loc[df["MILES*"] > 10]

In [ ]:
df2 = df.loc[df["MILES*"] > 10, ["START_DATE*","MILES*"]]
df2.head()

In [ ]:
df2.loc[0:3]

# It is because we can see there are no indexes from 0 to 3 in df2, it has other indexes and are not serial.
So, to solve this problem

In [ ]:
df2.reset_index(inplace = True, drop = True)
df2

In [ ]:
#Find out all rides from Cary
df.loc[df["START*"] == "Cary",["STOP*","MILES*"]].head()

In [ ]:
#Find out all rides from Cary and Morrisville
df.loc[df["START*"].isin(["Cary","Morrisville"]),["STOP*","MILES*"]]

In [ ]:
#Find out all rides except from Cary and Morrisville
df.loc[~df["START*"].isin(["Cary","Morrisville"]),["STOP*","MILES*"]]

In [ ]:
#Close each condition with small brackets before ANDing. (df[]...) & (df..)
df[(df["START*"].isin(["Cary","Morrisville"])) & (df["MILES*"] >10)]

# Sorting

Continued in the next file